[Unit]
Description=ROT13 demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
#Restart=always
#RestartSec=1
User=root
EnvironmentFile=/home/odisseo/Documenti/leminrock/hardware/network_button/.config_led_wifi
WorkingDirectory=/home/odisseo/Documenti/leminrock/hardware/network_button
ExecStart=/home/odisseo/Documenti/leminrock/hardware/network_button/led_status.py $ARG &

[Install]
WantedBy=multi-user.target